.column {
  width: 300px;
  float: left;
  text-align: center;
}

img {
  height: 300px;
  float: top;
}

ul {
  list-style-type: none;
  text-align: justify;
}

.age p {
  font-style: italic;
  font-size: 20px;
}

h1 {
  text-align: center;
  background-color: bisque;
}

@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: pink;
    color: red;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-color: rgb(128, 0, 70)
  }
}